[flake8]
#  W503: line break before binary operator
#  W504: line break after binary operator
#  E203: whitespace before ':'
#  E501: Line too long
ignore=W503,W504,E203,E501
exclude =
    .git,
    __pycache__,
    .cache
