# Fabric v2.
https://codeload.github.com/fabric/fabric/zip/2d89b122ed05550c0b4b1fd8836b4a31060ad2a5

# Formatting.
black==24.3.0
isort==5.10.1

# Style checking.
flake8==5.0.4
flake8-builtins==1.5.3      # For disallowing shadowing of Python built-ins.
