# For Wikipedia.
mwparserfromhell==0.7.2
mwcomposerfromhell==0.5

# For NHL, The Players Tribune, Thunderbird, and Patreon sites.
beautifulsoup4==4.13.5
iso8601==2.1.0

# For Patreon.
selenium==4.35.0

# For Pottermore.
Markdown==3.9

# For generating RSS.
feedgenerator==2.2.1

# For downloading articles.
requests==2.32.5
requests_cache==1.2.1

# For serving the resulting feed.
Flask==3.1.2
flask-caching==2.3.1
# For signals in Flask.
blinker==1.9.0

# For deploying.
gunicorn==23.0.0

# For loading configuration.
python-dotenv==1.1.1

# For error reporting.
sentry-sdk  # pyup: ignore
