# Fabric v2.
https://codeload.github.com/fabric/fabric/zip/fec3a22ee89900500ae731913fd33f9b56e89f46

# For running tests.
pytest==3.3.1

# Style checking.
flake8==3.5
flake8-builtins==1.0.post0  # For disallowing shadowing of Python built-ins.
flake8-import-order==0.16
