# For parsing articles from Wikipedia and converting them to HTML.
mwparserfromhell==0.6.2
mwcomposerfromhell==0.4

# For parsing the NHL and Patreon sites.
beautifulsoup4==4.9.3
iso8601==0.1.14

# For Patreon.
selenium==3.141.0

# For generating RSS.
feedgenerator==1.9.1

# For downloading articles from Wikipedia.
requests==2.26.0

# For serving the resulting feed.
Flask==1.1.2
# For signals in Flask.
blinker==1.4

# For deploying.
gunicorn==20.1.0

# For loading configuration.
python-dotenv==0.18.0

# For error reporting.
sentry-sdk  # pyup: ignore
