<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script defer data-domain="to-rss.xyz" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nhl/">NHL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patreon/">Patreon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/players_tribune/"><i>The Players' Tribune</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pottermore/">Pottermore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wikipedia/">Wikipedia</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block body %}{% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
