{% extends 'base.html' %}

{% block body %}
<h2>Wikipedia</h2>

<p class="head">
  The <a href="https://wikipedia.org" target="_blank">Wikipedia</a> community provides a variety
  of articles are useful to check daily. Some of these have RSS feeds (via the
  <a href="https://en.wikipedia.org/wiki/MediaWiki" target="_blank">MediaWiki</a>
  <a href="https://en.wikipedia.org/w/api.php?action=help&modules=featuredfeed" target="_blank">featuredfeed plugin</a>),
  but not all do! A mixed of custom and standard RSS feeds is below:

  <ul>
    <li><a href="/wikipedia/current_events/">Current Events</a></li>
    <li><a href="https://en.wikipedia.org/w/api.php?action=featuredfeed&feed=potd" target="_blank">Picture of the Day</a></li>
    <li><a href="https://en.wikipedia.org/w/api.php?action=featuredfeed&feed=onthisday" target="_blank">On This Day</a></li>
    <li><a href="http://en.wikipedia.org/w/api.php?action=featuredfeed&feed=featured" target="_blank">Featured Article</a></li>
  </ul>
</p>
{% endblock %}
